<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sector automotriz:ensamblaje</title>
    <link rel="stylesheet" href="https://codepen.io/chriscoyier/pen/jjVgOj.css">
</head>
<body>
    <h1>Gráfico de Utilidad por Año</h1>
    <div>
        <h2>Selecciona una compañía:</h2>
        <a href="/dash/">Abrir Gráfico Dash</a>
    </div>
    <div>
        <h2>Graph Dashboard:</h2>
        <iframe src="/dash/" width="100%" height="600" style="border:none;"></iframe>
    </div>
</body>
</html>
